body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  background: #f5f7fb !important;  
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.page-wrapper {
  min-height: 100vh;
  padding: 40px;
  background: #f5f7fb;
}

